@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

*{
    padding:0;
    margin:0;
}
body{
    max-height: 720px;
}
#page{
    width:480px;
    height:740px;
    background: #282D31;
    overflow-y: scroll;
}
.header{
    position:relative;
    top:0;
    height:50px;
    display:flex;
    justify-content: space-between;
}
.content{
    margin-top:20px;
}
.common{
    margin-top:10px;
    color:#ffffff;
}
.delete {
    margin-left:20px;
    cursor:default;
}
.window-close{
    margin-right:20px;
    cursor:default;
}
.record{
    margin-left: 40px;
    width: 400px;
    border-bottom: 1px solid #686c6e;
    margin-bottom: 10px;
}
.date{
    margin-left:20px;
    font-size:14px;
    color:#686c6e;
}
.cause{
    font-size:20px;
    color:#686c6e;
    text-align: end;
    margin-right:20px;
}
.result{
    font-size:20px;
    color:#ffffff;
    text-align: end;
    margin-right:20px;
    margin-bottom:20px;
}