@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

*{
    padding:0;
    margin:0;
}
#page{
    width:480px;
    height:720px;
    background: linear-gradient(to bottom right,#abc7ff,#88ddff);
}
.top{
    width:400px;
    margin: 0px 20px;
    padding-top:10px;
}
.top>a, .top>a:hover{
    text-decoration: none;
    color:#ffffff;
    cursor: default;
}
.calculator{
    max-height:200px;
    color:#ffffff;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.cause{
    width:360px;
    margin: 0 20px;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.cause>span{
    width:100%;
    max-height: 150px;
    font-size:24px;
    word-break: break-all;
    text-align: end;
}
.result{
    font-size:48px;
    margin-bottom:10px;
    margin: 0 20px;
}
.field{
    display: flex;
}
.common{
    width:200px;
    height:58px;
    background:#ffffff;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
}
.basic{
    color: #0FF1CE;
}
.operator{
    color: #676767;
}
.result-button{
    color: #8a2be2;
}
.zero-button{
    width:600px;
    height:58px;
    background:#ffffff;
    border-radius: 50px;
    margin: 10px;
    color: #0FF1CE;
    font-size:32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:43px;
}
